@model WebApplication.Models.Customer

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Layout/MasterPage.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#UserName').on('change', function () {
            var getName = $(this).val();
            $.ajax({
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                url: '/Customers/CheckUserName',
                data: { uname: getName },
                success: function (data) {
                    if (data == "Yes") {
                        $('#userError').html("Username đã tồn tại !");
                        $('#userError').css('color', 'red');
                        $('#UserName').val('');
                        $('#UserName').focus();
                    } else {
                        $('#userError').html("Có thể sử dụng tên này");
                        $('#userError').css('color', 'green');
                    }
                },
                error: function (response) {
                    alert('no');
                }
            });
        });

        $('#Email').on('change', function () {
            var getName = $(this).val();
            $.ajax({
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                url: '/Customers/CheckEmail',
                data: { email: getName },
                success: function (data) {
                    if (data == "Yes") {
                        $('#emailError').html("Email đã được sử dụng");
                        $('#emailError').css('color', 'red');
                        $('#Email').val('');
                        $('#Email').focus();
                    } else {
                        $('#emailError').html("Có thể sử dụng Email này");
                        $('#emailError').css('color', 'blue');
                    }
                },
                error: function (response) {
                    alert('no');
                }
            });
        });

        $('#confirm_password').on('keyup', function () {
            if ($(this).val() == $('#password').val()) {
                $('#message').html('Khớp').css('color', 'green');
                document.getElementById("register-submit").disabled = false;
            }
            else {
                $('#message').html('Không khớp').css('color', 'red');
                document.getElementById("register-submit").disabled = true;
            }
        });

        $('#UserName').on('keyup', function () {
            if ($(this).val() == '') {
                $('#userError').html('Không được để trống').css('color', 'green');
                document.getElementById("register-submit").disabled = true;
            }
            else {
                document.getElementById("register-submit").disabled = false;
            }
        });
    });
</script>

<div class="registration">
    <div class="registration_left">
        <h2>Đăng kí tài khoản</h2>
        <div class="registration_form">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div>
                    <label>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </label>
                </div>
                <div>
                    <label>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { placeholder = "Họ và tên", type = "text" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </label>
                </div>
                <div>
                    <label>
                        @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { placeholder = "Ngày sinh", type = "date" } })
                        @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                    </label>
                </div>
                <div>
                    <label>
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { placeholder = "Số điện thoại", type = "text" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    </label>
                </div>
                <div>
                    <label>
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { placeholder = "Địa chỉ", type = "text" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </label>
                </div>
                <div>
                    <label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Email", type = "email", id = "Email" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </label>
                    <span id="emailError"></span>
                </div>
                <div>
                    <label>
                        <input type="text" name="accountName" id="UserName" placeholder="Tên tài khoản" />
                    </label>
                    <span id="userError"></span>
                </div>
                <div>
                    <label>
                        <input type="password" name="password" placeholder="Mật khẩu" id="password" required />
                    </label>
                </div>
                <div>
                    <label>
                        <input type="password" placeholder="Xác nhận mật khẩu" id="confirm_password" name="confirm_password" required>
                    </label>
                    <span id="message"></span>
                </div>
                <div>
                    <input type="submit" value="Đăng kí" id="register-submit">
                </div>
            }
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
