<!DOCTYPE html>

@using WebApplication.Common
@using WebApplication.Models

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width" />
    @* css *@
    <link href="~/Contents/Admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Contents/Admin/css/metisMenu.min.css" rel="stylesheet" />
    <link href="~/Contents/Admin/css/sb-admin-2.css" rel="stylesheet" />
    <link href="~/Contents/Admin/css/timeline.css" rel="stylesheet" />
    <link href="~/Contents/Admin/css/morris.css" rel="stylesheet" />
    <link href="~/Contents/Admin/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", required: false)
    @* script for editor *@
    <script src="~/Contents/Admin/tinymce/js/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>
    <script src="~/Contents/Admin/js/ConfirmDialog.js"></script>
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index","Home")">DC Mobile</a>
            </div>
            <!-- /.navbar-header -->
            @if (Session[Constants.SESSION_ROLE] != null)
            {
                <ul class="nav navbar-top-links navbar-left">
                    @*@if (Session[Constants.SESSION_ROLE].Equals("Admin"))
                        {*@
                    <li>
                        @Html.ActionLink("Sản phẩm", "Index", "Products")
                    </li>
                    <li>
                        @Html.ActionLink("Nhà sản xuất", "Index", "Manufacturers")
                    </li>
                    <li>
                        @Html.ActionLink("Nhân viên", "Index", "Staffs")
                    </li>
                    <li>
                        @Html.ActionLink("Khách hàng", "Index", "Customers")
                    </li>
                    <li>
                        @Html.ActionLink("Khuyến mãi", "Index", "Promotions")
                    </li>
                    @*}
                        @if (Session[Constants.SESSION_ROLE].Equals("Nhân viên giao dịch"))
                        {*@
                    <li>
                        @Html.ActionLink("Đơn hàng", "Index", "Orders")
                    </li>
                    @*}
                        @if (Session[Constants.SESSION_ROLE].Equals("Nhân viên giao dịch") || Session[Constants.SESSION_ROLE].Equals("Nhân viên giao hàng"))
                        {*@
                    <li>
                        @Html.ActionLink("Phiếu giao hàng", "Index", "Deliveries")
                    </li>
                    @*}
                        @if (Session[Constants.SESSION_ROLE].Equals("Admin"))
                        {*@
                    <li>
                        @Html.ActionLink("Thống kê", "Index", "Statistics")
                    </li>
                </ul>

                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="@Url.Action("Edit", "Staffs")" id="@Session[Constants.SESSION_ACCOUNT_ID].ToString()"><i class="fa fa-user fa-fw"></i> Thông tin cá nhân</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="@Url.Action("Logout","Users")"><i class="fa fa-sign-out fa-fw"></i> Đăng xuất</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
            }
            else
            {
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a href="@Url.Action("Login","Users")">Đăng nhập</a>
                    </li>
                </ul>
            }
            <!-- /.navbar-top-links -->
        </nav>

        <div id="page-wrapper" style="min-height: 590px;">
            @RenderBody()
        </div>
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/Contents/Admin/js/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Contents/Admin/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Contents/Admin/js/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="~/Contents/Admin/js/raphael-min.js"></script>
    <script src="~/Contents/Admin/js/morris.min.js"></script>
    <script src="~/Contents/Admin/js/morris-data.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Contents/Admin/js/sb-admin-2.js"></script>
</body>
</html>
