@model WebApplication.Models.Staff

@{
    Layout = WebApplication.Common.Constants.PATH_ADMIN_LAYOUT;
    ViewBag.Title = "Thêm sản phẩm";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Thêm Nhân Viên</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="@Url.Action("Index", "Staffs")" style="margin-right:5px;">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </a>
                Điền thông tin nhân viên
            </div>
            </br>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Birthday)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Birthday)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PositionId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Position.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Deleted)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Deleted)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Account.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Account.Name)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" />
                </div>
            }
        </div>
    </div>
</div>
