@using WebApplication.Models
@model List<Product>
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Layout/MainLayout.cshtml";
}
@*-- Main Page --*@
<div class="content_top">
    <div class="heading">
        <h3>Sản phẩm mới</h3>
    </div>
    <div class="see">
        <p><a href="#">Xem tất cả</a></p>
    </div>
    <div class="clear"></div>
</div>
<div class="section group">
    @foreach (var _item in Model)
    {
        <div class="grid_1_of_4 images_1_of_4">
            <a href="preview.html">
                <img src="@Url.Content("~/Images/"+_item.Image)" alt="" width="200" height="280" />
            </a>
            @if (_item.Name.Length < 35)
            {
                <h2>@_item.Name</h2>
            }
            else
            {
                <h2>@_item.Name.Substring(0, 35) ...</h2>
            }
            <div class="price-details">
                <div class="price-number">
                    <p>
                        <span class="rupees">
                            @String.Format("{0:0,0 ₫}", @_item.Price)
                        </span>
                    </p>
                </div>
                <div class="add-cart">
                    <h4><a href="@Url.Action("AddShoppongCart", "Cart", new { @_idProducts = _item.Id, @_strUrl = Request.Url.ToString() })">Giỏ hàng</a></h4>
                </div>
            </div>
        </div>
    }
</div>
<div class="clear"></div>
<div class="content_bottom">
    <div class="heading">
        <h3>Sản phẩm bán chạy</h3>
    </div>
    <div class="see">
        <p><a href="#">Xem tất cả</a></p>
    </div>
    <div class="clear"></div>
</div>
<div class="section group">
    <div class="grid_1_of_4 images_1_of_4">
        <a href="preview.html"><img src="web/images/new-pic1.jpg" alt="" /></a>
        <h2>Lorem Ipsum is simply </h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">$849.99</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="preview.html">Add to Cart</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

