@{
    ViewBag.Title = "ProductDetails";
    Layout = Constants.PATH_MASTER_PAGE;
}

@using WebApplication.Models
@using WebApplication.Common
@model Product
<link href="~/Contents/MasterPage/css/etalage.css" rel="stylesheet" />
<script src="~/Contents/MasterPage/js/jquery.etalage.min.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $('#etalage').etalage({
            thumb_image_width: 300,
            thumb_image_height: 400,
            source_image_width: 900,
            source_image_height: 1200,
            show_hint: true,
            click_callback: function (image_anchor, instance_id) {
                alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
            }
        });
    });

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.6&appId=1730522887206598";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div id="fb-root"></div>
<!-- start content -->
<div class="row single">
    <div class="col-md-9 det">
        <div class="single_left">
            <div class="grid images_3_of_2">
                <ul id="etalage">
                    <li>
                        <a href="optionallink.html">
                            <img class="etalage_thumb_image" src="@Url.Content(Constants.PATH_IMAGE + "/" + Model.Image)" class="img-responsive" />
                            <img class="etalage_source_image" src="@Url.Content(Constants.PATH_IMAGE + "/" + Model.Image)" class="img-responsive" title="" />
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="desc1 span_3_of_2">
                <h3>@Model.Name</h3>
                <br>
                <span class="code">Mã sản phẩm: @Model.Id</span>
                <br />
                <span class="code">Nhà sản xuất: @Model.Manufacturer.Name</span>
                <br />
                <span class="code">Nhà nhập hàng: @Model.CreatedDate</span>
                <br />
                <p>Chưa có mô tả</p>
                <div class="price">
                    <span class="text">Price:</span>
                    <span class="price-new">@String.Format("{0:0,0 ₫}", @Model.Price)</span>
                </div>
                <div class="det_nav1">
                    <h4>Lựa chọn màu:</h4>
                    <div class=" sky-form col col-4">
                        <ul>
                            <li><label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Xanh</label></li>
                            <li><label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Đỏ</label></li>
                            <li><label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Tím</label></li>
                            <li><label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Vàng</label></li>
                        </ul>
                    </div>
                </div>
                <div class="btn_form">
                    <a href="@Url.Action("AddShoppongCart", "Cart", new { @_idProducts = Model.Id, @_strUrl = Request.Url.ToString() })">Mua hàng</a>
                </div>
                @*<div class="btn_form">
                    <a href="@Url.Action("AddProducts", "Products", new { @ProductID = Model.Id, @_strUrl = Request.Url.ToString() })">So sánh</a>
                </div>*@
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="single-bottom1">
            <h6>Thông tin chi tiết</h6>
            <p class="prod-desc">@Model.Description</p>
        </div>
        <div class="single-bottom2">
            <h6>Sản phẩm khác</h6>
            @Html.Action("RelativeProducts", "Products", new { @id = Model.Id })
            <br />
        </div>
        <div class="single-bottom2">
            <h6>Bình luận</h6>
            <div class="fb-like" data-href="http://localhost:1775/Products/ProductDetails/@Model.Id" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
            <div class="fb-comments" data-href="http://localhost:1775/Products/ProductDetails/@Model.Id" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-3">
        <div class="w_sidebar">
            <div class="w_nav1">
            </div>
        </div>
    </div>
</div>
<!-- end content -->
