@model WebApplication.Models.Account
@using WebApplication.Common

@{
    Layout = Constants.PATH_ADMIN_LAYOUT;
    ViewBag.Title = "Tài khoản";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Tài Khoản</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="@Url.Action("Index", "Accounts")" style="margin-right:5px;">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </a>
                Thông tin tài khoản
                <p style="float:right">
                    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id })
                </p>
            </div>
            </br>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Password)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Password)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Deleted)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Deleted)
                </dd>

            </dl>
        </div>
    </div>
</div>
