@using WebApplication.Models
@using WebApplication.Common
@using System.Configuration
@model List<ShoppingCart>
@{
    ViewBag.Title = "ShoppingCart";
    Layout = Constants.PATH_MASTER_PAGE;
}
<div class="container">
    <div class="check">
        <div class="col-md-3 cart-total">
            <a class="continue" href="@Url.Action("Index", "Home")">Tiếp tục mua hàng</a>
        </div>
        <div class="col-md-9 cart-items">
            <h1>Giỏ hàng</h1>
            @{int i = 0;}
            @{
                foreach (var item in Model)
                {
                    <div class="cart-header">
                        <div class="cart-sec simpleCart_shelfItem">
                            <div class="cart-item cyc">
                                <img src="@Url.Content(Constants.PATH_IMAGE + "/" + item.Image)" class="img-responsive" alt="" />
                            </div>
                            <div class="cart-item-info">
                                <h3>
                                    <a href="#">@item.Name</a><span>Model No: @item.IdProduct</span>
                                </h3>
                                <ul class="qty">
                                    <li><p>Giá: @item.Price</p></li>
                                    @using (Html.BeginForm("UpdateShoppingCart", "Cart", new { @_idProduct = item.IdProduct }))
                                    {
                                        <li><p>Số lượng : @Html.TextBox("txtSoLuong", item.Quantity, new { @class = "text" })</p></li>
                                        <li><p>Thành tiền: @item.ThanhTien</p></li>
                                        <input type="submit" value="Cap nhat" class="button1" />
                                        <button class="button1" type="button" onclick="location.href = '@Url.Action("DeleteShoppingCart", "Cart", new { @_idProduct = item.IdProduct })'">
                                            <span>Xóa giỏ hàng</span>
                                        </button>
                                        @*<div class="button1">
                                            <a href="@Url.Action("DeleteShoppingCart", "Cart", new { @_idProduct = item.IdProduct })">Delete</a>
                                        </div>*@
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                }
            }
        </div>
    </div>
</div>
<div class="clearfix"> </div>
<script type="text/javascript">
    $(".text").spinner();
    $(".text").spinner({ min: 1 });
</script>