@using WebApplication.Models
@model List<ShoppingCart>
@{
    ViewBag.Title = "EditShoppingCart";
    Layout = "~/Views/Layout/MainLayout.cshtml";
}
<h2>Giỏ hàng của bạn</h2>
<table id="divGioHang">
    <tr>
        <td>Mã sản phẩm</td>

        <td>Tên sản phẩm</td>

        <td>Hình ảnh</td>

        <td>Đơn giá</td>

        <td>Số lượng</td>

        <td>Thành tiền</td>
    </tr>
    @{
        foreach (var _item in Model)
        {
            <tr>
                <td>
                    <span>@_item.IdProduct</span>
                </td>
                <td>
                    <span>@_item.Name</span>
                </td>
                <td>
                    <img src="@Url.Content("~/Images/" + _item.Image)" width="50" height="50" />
                </td>
                <td>
                    <span>@String.Format("{0:0,0 VNĐ}", @_item.Price)</span>
                </td>
                @using (Html.BeginForm("UpdateShoppingCart", "Cart", new { @_idProduct = _item.IdProduct }))
                {
                    <td>@Html.TextBox("txtSoLuong", _item.Quantity) </td>

                    <td>@String.Format("{0:0,0}", _item.ThanhTien)</td>
                    <td>
                        <input type="submit" value="Cập nhật" />
                        <br />
                        @Html.ActionLink("Xóa", "DeleteShoppingCart", new { @_idProduct = _item.IdProduct })
                    </td>
                }
            </tr>
        }
    }

</table>

<style>
    #divGioHang {
        border: 1px solid #EEEEEE;
        margin-left: 10%;
    }

        #divGioHang td {
            padding: 10px;
            border: 1px solid #EEEEEE;
        }
</style>

