@using WebApplication.Models
@using WebApplication.Common
@using System.Configuration
@model List<ShoppingCart>
@{
    ViewBag.Title = "ShoppingCart";
    Layout = Constants.PATH_MASTER_PAGE;
}
<form action="@Url.Content(Constants.URL_SUBMIT_PAYMENT)" id="formOrder">
    <input type="hidden" name="cmd" value="_cart" />
    <input type="hidden" name="upload" value="1" />
    <input type="hidden" name="return" value="@Url.Content(Constants.URL_RETURN)" />
    <input type="hidden" name="business" value="@Url.Content(Constants.BUSSINESS_EMAIL)" />
    <div class="container">
        <div class="check">
            <div class="col-md-3 cart-total">
                <a class="continue" href="@Url.Action("Index", "Home")">Tiếp tục mua hàng</a>
                <div class="price-details">
                    <h3>Thông tin đơn hàng</h3>
                    <span>Thành tiền</span>
                    <span class="total1">@ViewBag.TongTien</span>
                    <span>Khuyến mãi</span>
                    <span class="total1">---</span>
                    <span>Phí vẫn chuyển</span>
                    <span class="total1">---</span>
                    <div class="clearfix"></div>
                </div>
                <ul class="total_price">
                    <li class="last_price"> <h4>Tổng tiền</h4></li>
                    <li class="last_price"><span>@ViewBag.TongTien</span></li>
                </ul>
                <div class="clearfix"> </div>
                @if (Session["Account"] == null || Session["Account"].ToString() == String.Empty)
                {
                    <a class="order" href="@Url.Action("Login", "Users")">Thanh toán</a>
                }
                else
                {
                    <a class="order" href="javascript:{}" onclick="document.getElementById('formOrder').submit()">Thanh toán</a>
                }
            </div>
            <div class="col-md-9 cart-items">
                <h1>Giỏ hàng</h1>
                @{int i = 0;}
                @{
                    foreach (var item in Model)
                    {
                        i++;
                        <input type="hidden" name="@Url.Content("amount_" + i )" value="@item.Price" />
                        <input type="hidden" name="@Url.Content("item_name_" + i)" value="@item.Name" />
                        <input type="hidden" name="@Url.Content("quantity_" + i)" value="@item.Quantity" />
                        <input type="hidden" name="@Url.Content("item_number_" + i)" value="@item.IdProduct" />
                        <div class="cart-header">
                            <div class="cart-sec simpleCart_shelfItem">
                                <div class="cart-item cyc">
                                    <img src="@Url.Content(Constants.PATH_IMAGE + "/" + item.Image)" class="img-responsive" alt="" width="80%" height="80%" />
                                </div>
                                <div class="cart-item-info">
                                    <h3>
                                        <a href="#">@item.Name</a><span>Model No: @item.IdProduct</span>
                                    </h3>
                                    <ul class="qty">
                                        <li><p>Giá: @item.Price</p></li>
                                        <li><p>Số lượng : @item.Quantity</p></li>
                                        <li><p>Thành tiền: @item.ThanhTien</p></li>
                                    </ul>
                                </div>
                                <button class="button1" type="button" onclick="location.href = '@Url.Action("EditShoppingCart", "Cart")'">
                                    <span>Sửa giỏ hàng</span>
                                </button>
                                @*<div class="button1">
                                    <a href="@Url.Action("EditShoppingCart", "Cart")">Edit</a>
                                </div>*@
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    }
                }
            </div>
        </div>
    </div>
</form>
<div class="clearfix"> </div>
