@using WebApplication.Models
@using WebApplication.Common
@model List<ShoppingCart>
@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Layout/MainLayout.cshtml";
}
<h2>Giỏ hàng của bạn</h2>
<table id="divGioHang">
    <tr>
        <td>Mã sản phẩm</td>

        <td>Tên sản phẩm</td>

        <td>Hình ảnh</td>

        <td>Đơn giá</td>

        <td>Số lượng</td>

        <td>Thành tiền</td>
    </tr>
    @{
        foreach (var _item in Model)
        {
            <tr>
                <td>
                    <span>@_item.IdProduct</span>
                </td>
                <td>
                    <span>@_item.Name</span>
                </td>
                <td>
                    <img src="@Url.Content(Constants.PATH_IMAGE+"/"+_item.Image)" width="50" height="50" />
                </td>
                <td>
                    <span>@String.Format("{0:0,0 VNĐ}", @_item.Price)</span>
                </td>
                <td>
                    <span>@_item.Quantity</span>
                </td>
                <td>
                    <span>@String.Format("{0:0,0 VNĐ}", @_item.ThanhTien)</span>
                </td>
            </tr>
        }
}
    <tr>
        <td colspan="6" style="text-align:right;color:blue">
            @Html.ActionLink("Chỉnh sửa", "EditShoppingCart")
        </td>

    </tr>
    <tr>
        <td colspan="6" style="text-align:right;color:blue">
            @using (Html.BeginForm("Order", "Cart"))
            {
                <input type="submit" value="Đặt hàng" />
            }
        </td>
    </tr>
</table>

<style>
    #divGioHang {
        border: 1px solid #CACACA;
        margin-left: 10%;
    }

        #divGioHang tr td {
            padding: 10px;
            width: 15%;
            background: none;
            border: 1px solid #CACACA;
            outline: none;
            color: #464646;
            text-align: center;
            font-size: 1em;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            -webkit-appearance: none;
        }
</style>
